In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/students_performance/data.csv"
df = pd.read_csv(url, delimiter=";")

In [2]:
from sqlalchemy import create_engine
 
URL = "postgresql://postgres.qjnilqynhisodghypief:pw@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
 
engine = create_engine(URL)
df.to_sql('student', engine)

124

In [7]:
from sqlalchemy.sql import text

with engine.connect() as conn:
    query = text("SELECT * FROM student") 
    result = conn.execute(query)
    df = pd.DataFrame(result.fetchall())
    print(df)

      index  Marital_status  Application_mode  Application_order  Course  \
0         0               1                17                  5     171
1         1               1                15                  1    9254
2         2               1                 1                  5    9070
3         3               1                17                  2    9773
4         4               2                39                  1    8014
...     ...             ...               ...                ...     ...
4419   4419               1                 1                  6    9773
4420   4420               1                 1                  2    9773
4421   4421               1                 1                  1    9500
4422   4422               1                 1                  1    9147
4423   4423               1                10                  1    9773

      Daytime_evening_attendance  Previous_qualification  \
0                              1                       1
1                              1                       1
2                              1                       1
3                              1                       1
4                              0                       1
...                          ...                     ...
4419                           1                       1
4420                           1                       1
4421                           1                       1
4422                           1                       1
4423                           1                       1

      Previous_qualification_grade  Nacionality  Mothers_qualification  ...  \
0                            122.0            1                     19  ...
1                            160.0            1                      1  ...
2                            122.0            1                     37  ...
3                            122.0            1                     38  ...
4                            100.0            1                     37  ...
...                            ...          ...                    ...  ...
4419                         125.0            1                      1  ...
4420                         120.0          105                      1  ...
4421                         154.0            1                     37  ...
4422                         180.0            1                     37  ...
4423                         152.0           22                     38  ...

      Curricular_units_2nd_sem_credited  Curricular_units_2nd_sem_enrolled  \
0                                     0                                  0
1                                     0                                  6
2                                     0                                  6
3                                     0                                  6
4                                     0                                  6
...                                 ...                                ...
4419                                  0                                  6
4420                                  0                                  6
4421                                  0                                  8
4422                                  0                                  5
4423                                  0                                  6

      Curricular_units_2nd_sem_evaluations  Curricular_units_2nd_sem_approved  \
0                                        0                                  0
1                                        6                                  6
2                                        0                                  0
3                                       10                                  5
4                                        6                                  6
...                                    ...                                ...
4419                                     8                                  5
4420                                     6                                  2
4421                                     9                                  1
4422                                     6                                  5
4423                                     6                                  6

      Curricular_units_2nd_sem_grade  \
0                           0.000000
1                          13.666667
2                           0.000000
3                          12.400000
4                          13.000000
...                              ...
4419                       12.666667
4420                       11.000000
4421                       13.500000
4422                       12.000000
4423                       13.000000

      Curricular_units_2nd_sem_without_evaluations  Unemployment_rate  \
0                                                0               10.8
1                                                0               13.9
2                                                0               10.8
3                                                0                9.4
4                                                0               13.9
...                                            ...                ...
4419                                             0               15.5
4420                                             0               11.1
4421                                             0               13.9
4422                                             0                9.4
4423                                             0               12.7

      Inflation_rate   GDP    Status
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 38 columns]